layout {
  pane split_direction="vertical" {
    pane
    pane split_direction="horizontal" {
      pane
      pane {
      	command "fish"
      	args "-c" "direnv exec . just serve"
      }
    }
  }
}
